<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ChApp</title>
        <link rel="stylesheet" type="text/css" href="/assets/style.css" />
        <script defer="true" src="/socket.io/socket.io.js"></script>
        <script defer="true" src="/assets/appBundle.js"></script>
    </head>
    <body>
        <section id="content">

        </section>
    </body>
</html>
