<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chapp</title>
    </head>
    <body>
        <h1>Chapp</h1>
        <p>plz login</p>

        <section id="content">

        </section>

        <script src="/assets/loginBundle.js"></script>
    </body>
</html>
