@import "https://www.nerdfonts.com/assets/css/webfont.css";
// ~~~ vars ~~~
$bg : #121118;
$bg-secondary: #1d1e25;
$fg: #fafafa;
$accent: #ee1443;
$gaps-inner: 15px;
$gaps-outer: 30px;
$button-hover: rgba($fg, 0.03);
$button-selected: rgba($fg, 0.06);

// ~~~ general styles ~~~
section,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: $bg;
}

p,
div,
span {
    color: $fg;
}

h1,
h2,
h3 {
    color: $accent;
}

.titlebar {
    background-color: $bg-secondary;

    & * {
        padding: 0;
        margin: 0;
    }

    & .items-left>* {
        margin-right: 10px;
    }

    & .items-right>* {
        margin-left: 10px;
    }

    & a {
        color: $fg;
        padding: 5px;
        background-color: unset;
        border-radius: 5px;
        text-decoration: none;

        &:link,
        &:visited {
            color: $fg;
        }

        &:focus,
        &:active {
            color: $accent;
        }

        &:hover {
            color: $fg;
            background-color: $button-hover;
        }
    }

    margin-left: calc($gaps-inner / 2px);
    margin-bottom: calc($gaps-inner / 2px);
    margin-top: $gaps-outer;
    margin-right: $gaps-outer;
}

.channels {
    margin-right: calc($gaps-inner / 2px);
    margin-top: $gaps-outer;
    margin-bottom: $gaps-outer;
    margin-left: $gaps-outer;
}

.chat {
    margin-bottom: $gaps-outer;
    margin-right: $gaps-outer;
    margin-top: calc($gaps-inner / 2px);
    margin-left: calc($gaps-inner / 2px);
}

.clickable {
    background-color: $bg-secondary;
    padding: 5px;
    border-radius: 5px;

    &:hover {
        background-color: $button-hover;
        cursor: pointer;
    }

    &.focused {
        background-color: $button-selected;
    }
}

.accent {
    color: $accent;
}

.accent-bg {
    background-color: $accent;
}

.grow {
    flex-grow: 1;
}

.flex.horiz {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.root-ui-flex {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    height: 100%;
    width: 100%;

    &.horiz {
        flex-direction: row;
    }

    &.vert {
        flex-direction: column;
    }
}

.chat-main {
    overflow-y: scroll;
}

.round-bg {
    background-color: $bg-secondary;
    padding: 10px;
    border-radius: 15px;

    &>* {
        padding: 5px;
        margin: 0;
    }
}

.message {
    & .username {
        font-weight: bold;
    }

    & .content {
        margin-left: 5px;
    }
}